/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Theme */
body {
  font-family: "Inter", sans-serif;
  background: #0f172a;
  color: #e2e8f0;
  padding: 30px;
}

/* Headings */
h1 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  font-weight: 700;
  color: #f8fafc;
}

/* Layout container */
.container {
  max-width: 1000px;
  margin: auto;
}

/* Movie Card */
.movie-card {
  background: #1e293b;
  padding: 18px;
  margin-bottom: 12px;
  border-radius: 12px;
  transition: 0.3s;
  border: 1px solid transparent;
  margin-top: 15px;
}

.movie-card:hover {
  transform: translateY(-4px);
  border: 1px solid #38bdf8;
  background: #020617;
}

/* Links */
.movie-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #38bdf8;
  font-weight: 600;
}

/* Buttons */
button {
  background: #38bdf8;
  color: black;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
  font-weight: 600;
  transition: 0.2s;
  font-size: 20px;
  margin-top: 24px;
}

button:hover {
  background: #0ea5e9;
}

button.secondary {
  background: #334155;
  color: white;
}

button.secondary:hover {
  background: #475569;
}

/* Inputs */
input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #334155;
  background: #020617;
  color: white;
  margin-top: 24px;
  height: 60px;
}


/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
}

/* Navbar */
.navbar {
  background: #020617;
  border-bottom: 1px solid #1e293b;
  padding: 16px 0;
  margin-bottom: 30px;
}

.nav-container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #38bdf8;
  font-size: 1.4rem;
  font-weight: bold;
}

/* Nav links */
.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #cbd5f5;
  font-weight: 500;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #38bdf8;
}